@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #262626; 
  }
  ::-webkit-scrollbar-thumb {
    background: #404040; 
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #1dcd9f; 
  }
}